<div class="dm_head">
    <itogo-block>
        <p class="dm_logo">
            <img src="../../img/logo/logo-inverse.svg" alt="ITogo conf" title="ITogo conf"
                 style="padding: 0 2em;max-width: 600px">
        </p>
    </itogo-block>
</div>